input{
  border:none;
  background: rgba(0,0,0,0);
}

textarea{
  width:100%;
  min-width:100%;
  max-width: 100%;
  height:100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:4px;
}

.btn{
  text-transform: uppercase;
  font-size: 0.7em;
}

#btn_add{
  text-align: center;
  width: 100%;
}

.btn_delete{
  width:100% !important;
}

.new-material{
  border: 1px solid #ccc;
  background: rgba(0,0,0,0);
  width:100%;
  border-radius: 5px;
  padding:4px;
  font-style: italic;
}
