body{
  /* background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #c4c5c6 100%);


}

#login_well{
    width:250px;
    border-radius: 5px;
}

#login_well input{
    width:100%;
    text-align: left;
    background:#fff;
    border:1px solid #b4b4b4;
}

#login_well input[type='submit']{
    background:#fff;
}

#forgot-password{
  border:0px !important;
  font-size: 0.7em !important;
  color: #aaa;
  background:rgba(0,0,0,0) !important;
  transition: 0.25s color ease-in-out;
}

#forgot-password:hover{
  border:0px !important;
  font-size: 0.7em !important;
  color: #8EC5FC;
}

#login-error{
  color: rgb(230,120,120);
}

input{
  border-radius: 4px;
}

h3{
  margin:0px;
  margin-bottom: 15px;

}

body{
    width:100vw;
    height:100vh;
    padding:0px !important;
    padding-top:100px !important;
    color:#333 !important;
}
